$message-margin-bottom: 20px !default;

.ngm-messages-list {
  padding: 0 10px;
}


.loading-indicator {
  padding: 20px 0;
}

virtual-scroll {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

ngm-messages-list-item {
  display: block;
}





