$message-margin-bottom: 20px !default;



.ngm-messages-list .scrollable-content {
  top: auto !important;
  bottom: 0 !important;
  height: auto !important;
  max-height: 100% !important;
}

.loading-indicator {
  padding: 20px 0;
}

virtual-scroll {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

ngm-messages-list-item {
  display: block;
}





