@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

ngm-messages-list-item {
  display: block;
}

.ngm-message-list-item-content {
  max-width: 70%;
}

.ngm-message-list-item-author {
  display: block;
  margin-top: -37px;
}

.ngm-message-list-item-wrapper {
  padding: 0 10px;
}

.ngm-message-bubble {
  word-wrap: break-word;
  display: inline-block;
  margin-bottom: 5px;
  line-height: 24px;

  position:relative;
  padding:10px 20px;
  color:#E5E5EA;
  background:#E5E5EA;
  border-radius:10px;

  p {
    padding: 0;
    margin: 0;
    color: black;
  }

}

.from-me .ngm-message-list-item-content {
  margin-right: 36px;
}

.from-them .ngm-message-list-item-content {
  margin-left: 36px;
}

.ngm-message-bubble-arrow {
  margin-bottom: 25px;

  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 20px;
    @include transform(translate(0, -2px));
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 26px;
    height: 25px;
    background: white;
  }
}

.ngm-messages-avatar {
  z-index: 100;
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }
}

.ngm-messages-author-name {
  display: inline-block;
  z-index: 100;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
  font-style: italic;
  color: #818181;
}

.clear {clear: both}
.from-me {

  .ngm-message-list-item-content, .ngm-message-list-item-author {
    float: right;
  }

  .ngm-message-list-item-content {
    text-align: right;
  }

  .ngm-message-bubble {
    color: #0B93F6;
    background: #0B93F6;

    &:before {
      right: -7px;
      border-right: 20px solid #0B93F6;
      border-bottom-left-radius: 16px 14px;
    }

    &:after {
      z-index: 1;
      right: -56px;
      border-bottom-left-radius: 10px;
      @include transform(translate(-30px, -2px));
    }

    p {
      color: white;
      text-align: left;
    }
  }
}
.from-them {

  .ngm-message-list-item-content, .ngm-message-list-item-author {
    float: left;
  }

  .ngm-message-bubble {

    &:before {
      z-index:2;
      left:-7px;
      border-left:20px solid #E5E5EA;
      border-bottom-right-radius: 16px 14px;
    }

    &:after {

      z-index:3;
      left:4px;
      background:white;
      border-bottom-right-radius: 10px;
      @include transform(translate(-30px, -2px));
    }
  }
}
