.ngm-message-bubble-extra {
  position: relative;
  border-radius: 10px;
  margin-bottom: 5px;

  img {
    border-radius: 10px;
    display: inline-block;
    max-width: 100%;
    max-height: 250px;
    height: auto;
  }
}
